<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.board.model.mapper.BoardMapper">

	<!-- 이걸 지운다면....? myvbbatis-config에 이름변환 설정해주로 가자 -->
	<resultMap type="boardDto" id="items">
		<result column="pcode" property="code"/>
		<result column="pname" property="name"/>
		<result column="pquantity" property="quantity"/>
		<result column="pcategory" property="category"/>

	</resultMap>
	
	<select id="listArticle" parameterType="map" resultMap="items">
		select t.pcode, t.pname, t.pquantity, t.pcategory
		from tproducts t 
		<!-- where b.user_id = m.user_id -->
		<!--  <include refid="search"></include> -->
		order by t.pcode desc
		limit #{start}, #{listsize}
	</select>
	
		<select id="getTotalArticleCount" parameterType="map" resultType="int">
		select count(pcode)
		from tproducts
	<!--  	<where>
			<include refid="search"></include>
		</where>-->
	</select>
	

</mapper>